
.container
  = image_tag "logo.png", class:"logo"
  .main-content
    %h2.title-register Qiitaへようこそ
    %h3.welcome-message 新規登録(無料)して利用を開始しましょう。
    %hr.line
    .left-content
      .sns_btn
        = image_tag "github.png", class:"sns"
        = image_tag "twitter.png", class:"sns"
        = image_tag "google.png", class:"sns"
        .sns-message
          Qiitaが許可なくTwitterに投稿することはありません。

        .sign-up
          もしQiitaのアカウントを持っている場合は
          = link_to "ログイン", new_user_session_path, class:"register"
          から。
    .right-content
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .field
          = f.text_field :name, autofocus: true, autocomplete: "email", placeholder: "ユーザ名"
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス"
        .field
          = f.password_field :password, autocomplete: "off", placeholder: "パスワード"
        .register-message
          %a{ href: 'https://qiita.com/terms', class: 'terms' }
            利用規約
          に同意のうえ、「利用規約に同意して登録」ボタンを押してください。
        .actions
          = f.submit "利用規約に同意して登録", class: 'login_btn'

